h1 {
    font-size: 50px;
    text-decoration : underline;
}
.teamName {
    text-align: center;
    display: block;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.linkPage2 {
    font-size: 20px;
}
.divPage1 {
        background-color: bisque;
        width: 80%;
        margin: auto;
        background: rgba( 255, 228, 196, 0.7 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        
    

}
body {
    
    background-image: url(https://s1.1zoom.me/b7068/853/Basketball_Ball_565959_1920x1080.jpg);
    background-attachment: fixed;
}
h2 {
    font-size: 40px;
    text-decoration: underline red;
}
img {
    width: 400px;
    height: 400px;
}


.activated{
  color: white;
  background-color: #4CAF50 !important;

}


/* The Modal (background) */
.modal {
    
    display: none; /* Hidden by default */
    position:fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 10% 10%; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  a.pagination{
    
    margin-left: 50px;
    padding-left: 100px;
    
}